.dayReportLineItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    border: 1px solid black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Ensure the modal is on top of other elements */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.confirmation-dialog-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999; /* Ensure the dialog is on top of other elements */
}

.confirmation-dialog-card p {
    margin-bottom: 16px;
}

.confirmation-dialog-card button {
    margin: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

