:root {
  font-family: 'Overpass', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageNavButton {
  background-color: #001b38;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 0 3px #001b38;
  font-weight: 600;
  max-width: max-content;
}

.bottomRightButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.refreshButton {
  position: fixed;
  top: 1px;
  right: 2px;
  font-size: 13px;
  z-index: 2;
}